.mt-xxl {
  margin-top: $margin * 16;
}

.mt-xl {
  margin-top: $margin * 12;
}

.mt-l {
  margin-top: $margin * 8;
}

.mt-s {
  margin-top: $margin * 4;
}

.mt-xs {
  margin-top: $margin * 2;
}



.mb-xxl {
  margin-bottom: $margin * 16;
}

.mb-xl {
  margin-bottom: $margin * 12;
}

.mb-l {
  margin-bottom: $margin * 8;
}

.mb-s {
  margin-bottom: $margin * 4;
}

.mb-xs {
  margin-bottom: $margin * 2;
}

.pl2 {
  padding-left: $margin * 2;
}
.pr2 {
  padding-right: $margin * 2;
}
.pl4 {
  padding-left: $margin * 4;
}
.pr4 {
  padding-right: $margin * 2;
}

@include mq(md) {
  .pr4-md {
    padding-right: $margin * 4;
  }
}


.he1 {height: 1rem;}
.he2 {height: 2rem;}
.he3 {height: 3rem;}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.hide-md {
  display: block;
  @include mq(md) {
    display: none;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;

  @include mq(sm) {
    flex-direction: row;
  };
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.center {
  text-align: center;
}
