body {
  margin: 0;
  overflow-y:scroll;
  background: hsl(12, 16%, 95%);
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

img {
  display: block;
}
