body {
  margin: 0;
  overflow-y:scroll;
  background: hsl(12, 16%, 95%);
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    p {
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }
}

img {
  display: block;
}

kbd {
  padding: .25rem .5rem;
  border: 2px solid;
  border-radius: 4px;
  margin: 2px;
}

i, blockquote, em {
  font-family: 'Cinetype-Italic', sans-serif;
  font-style: normal;
}

code, pre {
  font-family: 'Cinetype-Mono', sans-serif;
  font-style: normal;
  letter-spacing: -1px;
  padding: .25rem .5rem;
  background: #fff;
}
