@media print {
  .hide-print{ display:none;}
  .cv {
    .flex {
      display: block;
    }
    .measure-wide {
      max-width: 100%;
    }
    .print-main {
      margin-right: 10%;
      width: 60%;
    }
    .print-aside {
      width: 30%;
    }
    .mt5 {
      margin-top: 0rem;
    }
  }
  nav {
    .navigation {
      position: relative;
      top: 0;
    }
  }
  .pbi-avoid {
    page-break-inside: avoid;
  }
  .menu-items {
    display: none;
  }
  @page {
    size: A4;
    margin: 1.5cm;
  }

  .row {
    width: 100%;
    margin: 0;
    max-width: initial;
  }
  body, html {
    font-size: 9px;
  }
}
