.mt-xxl {
  margin-top: $margin * 16;
}

.mt-xl {
  margin-top: $margin * 12;
}

.mt-l {
  margin-top: $margin * 8;
}

.mt-xs {
  margin-top: $margin * 2;
}

.mb-xxl {
  margin-bottom: $margin * 16;
}

.mb-xl {
  margin-bottom: $margin * 12;
}

.mb-l {
  margin-bottom: $margin * 8;
}

.mb-s {
  margin-bottom: $margin * 4;
}

.mb-xs {
  margin-bottom: $margin * 2;
}
.mb0 {
  margin-bottom: 0;
}

.pr0 {
  padding-right: 0;
}
.pl2 {
  padding-left: $margin * 2;
}
.pr2 {
  padding-right: $margin * 2;
}
.pl4 {
  padding-left: $margin * 4;
}
.pr4 {
  padding-right: $margin * 4;
}

.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

@include mq(md) {
  .pr4-md {
    padding-right: $margin * 4;
  }
}
