@font-face {
  font-family: 'Cinetype-Regular';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Italic';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Regular-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Light-Italic';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Light-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Light';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Light.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Mono';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Mono.woff') format('woff');
}
@font-face {
  font-family: 'Cinetype-Bold';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Bold.woff') format('woff');
}

@mixin underline {
  text-decoration-skip: ink;
  text-decoration: underline;
}

.underline {
  @include underline;
}

.cinetype-bold {
  font-family: 'Cinetype-bold';
}

body {
  font-family: 'Cinetype-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  a {
    @include underline;
  }
}

p {
  font-size: calc(100% + 8 * ((100vw - 320px) / (#{$mq-lg} - 320)));
  @include mq(lg) {
    font-size: 1.5rem;
  };
  margin: 2rem 0;
}


p a {
  @include underline;
}

a {
  text-decoration: none;
  color: $link-color;
  position: relative;
  &:hover {
    color : #000;
  }
}

i, blockquote, em {
  font-family: 'Cinetype-Italic', sans-serif;
  font-style: normal;
}

code {
  overflow: auto;
}

code, pre {
  font-family: 'Cinetype-Mono', sans-serif;
  font-style: normal;
  letter-spacing: -1px;
}
