@font-face {
  font-family: 'Cinetype-Regular';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Italic';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Regular-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Light-Italic';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Light-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Light';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Light.woff') format('woff');
}

@font-face {
  font-family: 'Cinetype-Mono';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Mono.woff') format('woff');
}
@font-face {
  font-family: 'Cinetype-Bold';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Bold.woff') format('woff');
}

@mixin a {
  border-bottom: 1px solid;
  padding-bottom: .375rem;
}

body {
  font-family: 'Cinetype-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  a {
    @include a;
  }
}

h1 {
  font-size: 1.5rem;
  margin: 0.67rem 0;
  @include mq(sm) {
    font-size: 2rem;
  };
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: calc(100% + 8 * ((100vw - 320px) / (#{$mq-lg} - 320)));
  margin: 2rem 0;
  @include mq(lg) {
    font-size: 1.5rem;
  };
}


pre {
  font-size: calc(75% + 8 * ((100vw - 320px) / (#{$mq-lg} - 320)));
  @include mq(lg) {
    font-size: 1.25rem;
  };
}

p a {
  @include a;
}

a {
  text-decoration: none;
  color: $link-color;
  position: relative;
  &:hover {
    color : #000;
  }
}

i, blockquote, em {
  font-family: 'Cinetype-Italic', sans-serif;
}

code, pre {
  font-family: 'Cinetype-Mono', sans-serif;
  font-style: normal;
  letter-spacing: -1px;
  padding: .25rem .5rem;
  background: #000;
}

.h0 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: 0;
  @include mq(md) {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .reveal {
    display: inline-block;
    transform: translateY(-1rem);
    &.reveal_visible {
      transform: translateY(0);
    }
  }
}
