@font-face {
  font-family: 'Cinetype';
  font-weight: 100;
  src: url('/fonts/GT-Cinetype-Regular.woff') format('woff');
}

body {
  font-family: 'Cinetype', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: calc(100% + 8 * ((100vw - 320px) / (#{$mq-lg} - 320)));
  margin: 2rem 0;

  @include mq(lg) {
    font-size: 1.5rem;
  };
}

a {
  text-decoration: none;
  color: $link-color;
  position: relative;
}


a {
  .svg-stroke {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 20px;
    transition: stroke-dashoffset 1s linear;
    transform: translateY(-50%);
    fill: none;
    stroke: currentColor;
    stroke-width: 1;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
  }
  &:hover svg{
    stroke-dashoffset: 0px;
  }
}

.secondary {
  color: #aaa;
}
