.case-header {
  position: relative;
  width: 100%;
  display: block;

  @include mq(md) {
    height:360px;
  }
  .row {
    position: relative;
    height: 100%;
  }
  .case-content {
    padding: 8rem 0 4rem;
    @include mq(md) {
      width: 24rem;
      padding: 0;
      position: absolute;
      top: 100%;
      transform: translateY(-50%);
    }
  }
}
