.case-header {
  position: relative;
  width: 100%;
  height:260px;
  display: block;
  @include mq(md) {
    height:360px;
  }
  .row {
    position: relative;
    height: 100%;
  }
  .case-content {
    width: 100%;
    position: absolute;
    bottom:0;
    transform: translateY(5.5rem);
    @include mq(sm) {
      width: 24rem;
    }
  }
}
