.file-share {
  a {
    display: block;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top:2px;
    &:hover {
      img {
        transform: translateY(-4px);
      }
    }
  }
  p {
    margin: 0;
  }
  img {
    max-width: 3rem;
    float: left;
    transition: 1s $bezier transform;
    margin-right:1rem;
  }
}
