nav {
  .navigation {
    height: 2rem;
    width: 100%;
    margin: 0 auto;
    top:2rem;
    transition: .4s $bezier top;
    position: fixed;
    z-index: 3;
    @include mq(sm) {
      top:4rem;
    };
    .row {
      display: flex;
      justify-content: space-between;
    }

    &.hidden {
      .logo {
        transform: translateX(-50%);
        left: 50%;
        @include mq(sm) {
          transform: translateX(2rem);
          left: 0;
        };
      }
      .menu-items {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-2rem);
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      margin-left: 2rem;
    }
  }
}

.case {
  .menu-items a {
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
}


li.active {
  a {
    color: #000;
  }
}

.logo, .menu-items {
  transition: .3s $bezier all;
}

.logo {
  width: 2rem;
  height: 2rem;
  left: 0;
  svg {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}
