nav {
  .navigation {
    height: 2rem;
    width: 100%;
    margin: 0 auto;
    top:1rem;
    transition: .4s $bezier top;
    position: fixed;
    z-index: 3;
    @include mq(sm) {
      top:3rem;
    };
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.hidden {
      .logo {
        transform: translateX(-50%);
        left: 50%;
        @include mq(sm) {
          transform: translateX(2rem);
          left: 0;
        };
      }
      .menu-items {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-2rem);
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      margin-left: .5rem;
      a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        text-align: center;
        border-radius: 50%;
        display: block;
        &:hover {
          height: 4rem;
          width: 4rem;
          box-shadow: 0px 0px 0px 1.5px currentColor inset;
        }
      }
    }
  }
}

.logo, .menu-items {
  transition: .3s $bezier all;
}

.logo {
  width: 2rem;
  height: 2rem;
  left: 0;
  svg {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}
