.tiles {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  @include mq(md) {
    max-width: $tileWidth * 4;
  }
}
.tile-content {
  height: $tileHeight;
  padding:1.5rem;
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include mq(md) {
    padding:1.5rem;
  }
}
.tile-bg {
  transition: .8s $bezier all;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position : absolute;
}


.tile {
  width: 100%;
  position: relative;
  list-style: none;
  float:left;

  @include mq(md){
    width: 25%;
  }

  img {
    transition: .5s $bezier opacity;
    width: 100%;
    bottom: 0;
    position: absolute;
    opacity: 1;
    transform: translateX(20%);
    @include mq(md) {
      opacity: 0;
    }
  }
  .hidden {
    opacity: 0;
  }

  h2>span {
    visibility: visible;
  }

  h2 {
    font-size: 1.25rem;
    visibility: hidden;
    margin: 0;
    @include mq(lg) {
      font-size: 1.5rem;
    };
  }

  p {
    margin: 0;
  }

  &.promoted {
    @include mq(md) {
      .tile-bg {
        width: 200%;
      }
    }

  }

  &.expanded {

    position: relative;
    z-index: 2;

    img {
      opacity: 1;
    }

    h2 {
      visibility: visible;
    }

    .tile-bg {
      @include mq(md) {
        transform: scale(1.2);
      }
    }
  }

  &.spacer {
    height: $tileHeight;
    width: $tileWidth;
    background: transparent;
    display: none;

    @include mq(md) {
      display: block;
      width: 25%;
    }
  }
}

.rspacer-1 {
  @include mq(md) {
    margin-right: 25%;
  }
}
.rspacer-2 {
  @include mq(md) {
    margin-right: 50%;
  }
}

.rspacer-3 {
  @include mq(md) {
    margin-right: 75%;
  }
}

.lspacer-1 {
  @include mq(md) {
    margin-left: 25%;
  }
}
.lspacer-2 {
  @include mq(md) {
    margin-left: 50%;
  }
}

.lspacer-3 {
  @include mq(md) {
    margin-left: 75%;
  }
}
