$max-width : 960px;
$link-color : rgba(#000, 0.6);
$gray : #888;
$bezier: cubic-bezier(.03, .82, .34, .99);

$tileWidth : 208px;
$tileHeight : 276px;
$margin: 1rem;
$gridpadding: 6rem;

$mq-lg : 1024;
$mq-md : 768;
$mq-sm : 480;
