@charset "utf-8";

@import "var";

@import "_layout/normalize";
@import "_layout/elements";
@import "_layout/typography";
@import "_layout/mq";

@import "_module/nav";
@import "_module/tiles";

.row {
  max-width: $max-width;
  margin: 0 auto;
  width: 92%;
}



.intro {
  display:flex;
  flex-direction: column;
  position: relative;
  width: $tileWidth * 2;
  margin-top: 8.75rem;
  margin-bottom: 2rem;

  h2 {
    margin: 0.25rem 0;
  }
  @include mq(md) {
    position: absolute;
    margin-bottom: 0rem;
  };
}

//  SinicalDev : @import '0-plugins/plugins-dir';@import '1-modules/modules-dir';@import '2-layouts/layouts-dir';
//  Turbo SinicalDev : and then layouts-dir looks like
//  Turbo SinicalDev : @import 'index/index';@import 'projects/projects';
