@charset "utf-8";

@import "var";
@import "_layout/mq";
@import "_layout/normalize";
@import "_layout/elements";
@import "_layout/typography";
@import "_layout/utilities";
@import "_layout/flex";
@import "_layout/widths";
@import "_layout/grid";
@import "_layout/animation";
@import "_layout/spacing";

@import "_module/nav";
@import "_module/tiles";
@import "_module/case-header";
@import "_module/image";
@import "_module/file-share";

@import "_layout/print";

.case-image {
  transform: translateY(80px);
  &.reveal_visible {
    transform: translateY(0);
  }
}
.case-text {
  &-right, &-left {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    span {
      &:before {
        content: '—';
        display: block;
      }
    }
    @include mq(sm) {
      flex-direction: row
    };
  }
}


#home {
  .abs {
    position: relative;
    @include mq(md) {
      position: absolute;
    };
  }
}

.case-info {
  margin-bottom: 3rem;
  @include mq(md) {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
  }
  @include mq(lg) {
    margin-top: 0rem;
    margin-bottom: 6rem;
    margin-left: auto;
    width: percentage(6/12);
  }

  li p {
    margin: 0.5rem 0;
  }
  & > * {
    max-width: 17rem;
    &:first-child {
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
  }
}

.blog-wrapper {
  h1, h2, h3, h4 {margin-top:5rem;}
  max-width: 640px;
  margin: 0 auto;
}

.hljs {
  padding: 6%;
  text-rendering: geometricPrecision;
}

#about, #home {
  display: flex;
  flex-direction: column;
}

.icon-set {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  & > * {
    margin-right: 2rem;
  }
}

.icon {
  height: 1rem;
  width: 1rem;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  img {
    height: 1rem;
    width: 1rem;
  }

}
.disqus-wrapper {
  height: 0;
  visibility: hidden;
  &.visible {
    height: auto;
    visibility: visible;
  }
}
.disqus-toggle {
  &:hover {
    svg {
      fill: #000;
    }
  }
  svg {
    fill: $link-color;
  }
  margin:3rem 0;
  width: 100%;
  p {
    margin: 0 0 0 1rem;
  }
}
