<div class="mt-l">
  <h1>

    Product designer with 6 years of experience. My main jam is rapid
    prototyping alongside iterative design methodology and branding. I have experience
    working with extensive e-Commerce projects as well as aesthetic campaign websites.
    <br> I also dabble in animated videos, 3D imagery and audio production.

  </h1>
  <h1>Email me at <a href="mailto:graz@live.se">graz@live.se</a></h1>
  <h1>Or view my <a href="/cv">CV</a></h1>
</div>
<div class="g3 mb-l mt-l">

  <div class="mt-s">
    <p>Selected clients —</p>
    <ul class="small ls-none">
      <li>Canon</li>
      <li>Volvo Cars/Trucks/Penta</li>
      <li>Husqvarna</li>
      <li>Maurice Saatchi</li>
      <li>Tena</li>
      <li>SKF</li>
      <li>Ascom</li>
      <li>Maersk</li>
      <li>T-Mobile</li>
      <li>Delhaize</li>
    </ul>
  </div>

  <div class="mt-s">
    <p>Awards & <br>Recognitions —</p>
    <ul class="small ls-none">
      <li>SiteInspire - Featured Portfolio - 2017</li>
      <br>
      <li>DESIGN MADE IN GERMANY - Featured Portfolio - 2015</li>
      <br>
      <li>SiteInspire - Featured Portfolio - 2014</li>
      <br>
      <li>CSS Awards - Featured Portfolio - 2014</li>
      <br>
      <li>Mindsparklemag - Featured Portfolio - 2014</li>
      <br>
      <li>FWA - Maersk - Site of the Day - 2013</li>
    </ul>
  </div>
  <div class="mt-s">
    <p>Things I'm about —</p>
    <ul class="small ls-none">
      <li>Rapid prototyping</li>
      <li>Concept & Strategy</li>
      <li>User Testing</li>
      <li>Agile environment</li>
      <li>Front-end development</li>
      <li>Design production/direction</li>
      <li>Wireframing & User journeys</li>
    </ul>
  </div>
</div>
<div class="mb-s mt-l">
  <div class="icon-set">
    <div class='icon'>
      <a href="http://dribbble.com/grazsebastian" target="_blank">
        <%= image_tag('dribbble.svg')%>
      </a>
    </div>
    <div class='icon'>
      <a href="http://twitter.com/grazsebastian" target="_blank">
        <%= image_tag('twitter.svg')%>
      </a>
    </div>

    <div class='icon'>
      <a href="http://vsco.com/sgraz" target="_blank">
        <%= image_tag('vsco.svg')%>
      </a>
    </div>

  </div>

</div>
