<div style="background:<%= this.bgColor ? (this.bgColor) : ('#000') %>;">
  <div class="row">
      <div class="w-100 w-50-ns f4 f3-ns relative pt6 pt6-m pt7-l pb5 lh-title relative" style="color:<%= this.textColor ? (this.textColor) : ('#999') %>">
        <% if locals.key?(:subheader) %>
          <span class="f4 fadeInDown"><%= subheader %></span>
        <% end %>
        <h1 class="ma0 ma0-m nb6-l">
          <% wrapped = word_wrap(this.titleHover.sub(this.title, "<i>#{this.title}</i>"), line_width: 1)%>
          <% splitted = wrapped.each_line.each do | lines |%>
            <span class="reveal"><%= lines %></span>
          <% end %>
        </h1>
      </div>
  </div>
</div>
