<div class="case-header" style="background:<%= current_page.data.bgcolor %>;">
  <div class="row">
      <div class="case-content" style="color:<%= current_page.data.color%>">
        <h1 class="case-title"><%= current_page.data.hovertext %></h1>
      </div>
  </div>
</div>
