<div class="case-info">
  <div class="case-tags"><span class="small">Tags — </span>
    <ul>
      <% this.tags.each do |tag| %>
      <li class="ls-none"><p><%= tag %></p></li>
      <% end %>
    </ul>

  </div>
  <div class="case-roles"><span class="small">Roles — </span>
    <ul>
      <% this.roles.each do |tag| %>
      <li class="ls-none"><p><%= tag %></p></li>
      <% end %>
    </ul>
  </div>
</div>
