<% color = darken_color(this.bgColor, amount=0.6) %>

<%
sentence = this.titleHover
words  = this.title.split

sentence = sentence.split(/\W+/)
sentence.map! do |word|
  words.include?(word) ? "<span style='color: #{this.textColor ? (this.textColor) : ('#999')}' class='f2 f1-m f-subheadline-ns case-char case-char-padding'>#{word}</span>" : "<span class='f2 f1-m f-subheadline-ns case-char case-char-padding reveal'>#{word}</span>"
end

%>
<div class="case-header">
  <div class="row">
      <div class="f4 f3-ns relative pt6 pt6-m pt6-l lh-title relative mw6-m measure center">

        <h1 class="case-char-wrapper pt5 flex flex-wrap justify-center">
          <%= sentence.join(' ') %>
        </h1>
        <% if locals.key?(:subheader) %>
          <div class="f4 fadeInUp mb4 dib tc w-100"><%= subheader %></div>
        <% end %>
      </div>
  </div>
</div>
