<div class="case-header" style="background:<%= this.bgColor %>;">
  <div class="row">
      <div class="case-content" style="color:<%= this.textColor%>">
        <h1 class="h0 fadeInDown"><%= this.titleHover %></h1>
      </div>
  </div>
</div>
