<svg width="34" height="32" viewBox="0 0 34 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns">
<title>icon</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-4 2)" figma:type="canvas">
<mask id="mask0_alpha" mask-type="alpha">
<path d="M 4 -2L 38 -2L 38 30L 4 30L 4 -2Z" fill="#FFFFFF"/>
</mask>
<g id="icon" mask="url(#mask0_alpha)" figma:type="frame">
<g id="Union" figma:type="vector">
<mask id="mask1_outline_ins">
<use xlink:href="#path0_fill" fill="white" transform="translate(19.6 11.7273)"/>
</mask>
<g mask="url(#mask1_outline_ins)">
<use xlink:href="#path1_stroke_2x" transform="translate(19.6 11.7273)"/>
</g>
</g>
<g id="Union" figma:type="vector">
<mask id="mask2_outline_ins">
<use xlink:href="#path2_fill" fill="white" transform="matrix(-1 0 0 1 27.4 -1)"/>
</mask>
<g mask="url(#mask2_outline_ins)">
<use xlink:href="#path3_stroke_2x" transform="matrix(-1 0 0 1 27.4 -1)"/>
</g>
</g>
</g>
</g>
<defs>
<path id="path0_fill" d="M 2.50627 0L 0 2.53159L 0 12.0139L 2.50627 14.5455L 10.2 14.5455L 13.2 17.2727L 13.2 14.5455L 14.8937 14.5455L 17.4 12.0139L 17.4 2.53159L 14.8937 0L 2.50627 0Z"/>
<path id="path1_stroke_2x" d="M 0 2.53159L -1.4213 1.1245L -2 1.70904L -2 2.53159L 0 2.53159ZM 2.50627 0L 2.50627 -2L 1.67195 -2L 1.08497 -1.40709L 2.50627 0ZM 2.50627 14.5455L 1.08497 15.9525L 1.67195 16.5455L 2.50627 16.5455L 2.50627 14.5455ZM 0 12.0139L -2 12.0139L -2 12.8364L -1.4213 13.421L 0 12.0139ZM 17.4 12.0139L 18.8213 13.421L 19.4 12.8364L 19.4 12.0139L 17.4 12.0139ZM 14.8937 14.5455L 14.8937 16.5455L 15.728 16.5455L 16.315 15.9525L 14.8937 14.5455ZM 14.8937 0L 16.315 -1.40709L 15.728 -2L 14.8937 -2L 14.8937 0ZM 17.4 2.53159L 19.4 2.53159L 19.4 1.70904L 18.8213 1.1245L 17.4 2.53159ZM 10.2 14.5455L 11.5453 13.0656L 10.9732 12.5455L 10.2 12.5455L 10.2 14.5455ZM 13.2 17.2727L 11.8547 18.7526L 15.2 21.7938L 15.2 17.2727L 13.2 17.2727ZM 13.2 14.5455L 13.2 12.5455L 11.2 12.5455L 11.2 14.5455L 13.2 14.5455ZM 1.4213 3.93868L 3.92757 1.40709L 1.08497 -1.40709L -1.4213 1.1245L 1.4213 3.93868ZM 3.92757 13.1384L 1.4213 10.6068L -1.4213 13.421L 1.08497 15.9525L 3.92757 13.1384ZM 15.9787 10.6068L 13.4724 13.1384L 16.315 15.9525L 18.8213 13.421L 15.9787 10.6068ZM 13.4724 1.40709L 15.9787 3.93868L 18.8213 1.1245L 16.315 -1.40709L 13.4724 1.40709ZM 2.50627 2L 14.8937 2L 14.8937 -2L 2.50627 -2L 2.50627 2ZM 19.4 12.0139L 19.4 2.53159L 15.4 2.53159L 15.4 12.0139L 19.4 12.0139ZM -2 2.53159L -2 12.0139L 2 12.0139L 2 2.53159L -2 2.53159ZM 2.50627 16.5455L 10.2 16.5455L 10.2 12.5455L 2.50627 12.5455L 2.50627 16.5455ZM 8.85465 16.0253L 11.8547 18.7526L 14.5453 15.7928L 11.5453 13.0656L 8.85465 16.0253ZM 15.2 17.2727L 15.2 14.5455L 11.2 14.5455L 11.2 17.2727L 15.2 17.2727ZM 13.2 16.5455L 14.8937 16.5455L 14.8937 12.5455L 13.2 12.5455L 13.2 16.5455Z"/>
<path id="path2_fill" d="M 2.50627 0L 0 2.53159L 0 18.0745L 2.50627 20.6061L 14.4 20.6061L 19.2 25.7576L 19.2 20.6061L 20.8937 20.6061L 23.4 18.0745L 23.4 2.53159L 20.8937 0L 2.50627 0Z"/>
<path id="path3_stroke_2x" d="M 0 2.53159L -1.4213 1.1245L -2 1.70904L -2 2.53159L 0 2.53159ZM 2.50627 0L 2.50627 -2L 1.67195 -2L 1.08497 -1.40709L 2.50627 0ZM 2.50627 20.6061L 1.08497 22.0131L 1.67195 22.6061L 2.50627 22.6061L 2.50627 20.6061ZM 0 18.0745L -2 18.0745L -2 18.897L -1.4213 19.4816L 0 18.0745ZM 23.4 18.0745L 24.8213 19.4816L 25.4 18.897L 25.4 18.0745L 23.4 18.0745ZM 20.8937 20.6061L 20.8937 22.6061L 21.728 22.6061L 22.315 22.0131L 20.8937 20.6061ZM 20.8937 0L 22.315 -1.40709L 21.728 -2L 20.8937 -2L 20.8937 0ZM 23.4 2.53159L 25.4 2.53159L 25.4 1.70904L 24.8213 1.1245L 23.4 2.53159ZM 14.4 20.6061L 15.8633 19.2427L 15.2701 18.6061L 14.4 18.6061L 14.4 20.6061ZM 19.2 25.7576L 17.7367 27.121L 21.2 30.8379L 21.2 25.7576L 19.2 25.7576ZM 19.2 20.6061L 19.2 18.6061L 17.2 18.6061L 17.2 20.6061L 19.2 20.6061ZM 1.4213 3.93868L 3.92757 1.40709L 1.08497 -1.40709L -1.4213 1.1245L 1.4213 3.93868ZM 3.92757 19.199L 1.4213 16.6674L -1.4213 19.4816L 1.08497 22.0131L 3.92757 19.199ZM 21.9787 16.6674L 19.4724 19.199L 22.315 22.0131L 24.8213 19.4816L 21.9787 16.6674ZM 19.4724 1.40709L 21.9787 3.93868L 24.8213 1.1245L 22.315 -1.40709L 19.4724 1.40709ZM 2.50627 2L 20.8937 2L 20.8937 -2L 2.50627 -2L 2.50627 2ZM 25.4 18.0745L 25.4 2.53159L 21.4 2.53159L 21.4 18.0745L 25.4 18.0745ZM -2 2.53159L -2 18.0745L 2 18.0745L 2 2.53159L -2 2.53159ZM 2.50627 22.6061L 14.4 22.6061L 14.4 18.6061L 2.50627 18.6061L 2.50627 22.6061ZM 12.9367 21.9695L 17.7367 27.121L 20.6633 24.3942L 15.8633 19.2427L 12.9367 21.9695ZM 21.2 25.7576L 21.2 20.6061L 17.2 20.6061L 17.2 25.7576L 21.2 25.7576ZM 19.2 22.6061L 20.8937 22.6061L 20.8937 18.6061L 19.2 18.6061L 19.2 22.6061Z"/>
</defs>
</svg>
