<footer class="footer mb-l">
  <h2 class="footer-h2"><%= title %></h2>
  <ul class="tiles">
    <% blog(content).articles.delete_if{|item| item == current_article}.sort_by{ |index| rand }.take(3).each do |article| %>
      <%= partial "partials/tile", locals: { project: article, secondary: '' } %>
    <% end %>
  </ul>
</footer>
