<footer class="footer mb-l">
  <h2 class="footer-h2"><%= title %></h2>
  <ul class="tiles">
    <% content.take(5).shuffle.each do |id, this| %>
      <%= partial "partials/tile", :locals => { :this => this, :dir => nil, :secondary => this.year } %>
    <% end %>
  </ul>
</footer>
