<footer class="mb5">
  <h3 class="mb4 f3"><%= title %></h3>
  <ul class="tiles cf">
    <% content.sort_by{ |index| rand }.reject{ | id, item| item == this }.each do |id, this| %>
    <%= partial "partials/tile", :locals => { :this => this, :dir => "/#{this.content_type_id.downcase}/", :secondary => 'View' } %>
    <% end %>
  </ul>
</footer>
