<%
  require 'fastimage'
  imageSize = FastImage.size("http:#{imageurl}")
  width = imageSize[0]
  height = imageSize[1]
  calc = height.fdiv(width) * 100# 1.33%
  paddingBottom = calc.to_i
  # aspectRatio = calc.to_r.rationalize(Rational('0.001'))
%>

<div style="padding-bottom:<%= paddingBottom %>%;" class="<%= cssClass if locals[:cssClass] %> reveal image">
  <img src="<%=imageurl%>" alt="<%=alt%>"/>
</div>
