<div class="mt5 mt6-ns mb4">
  <div class="flex flex-center">
    <div class='w1 mr4 dim'>
      <a class="dib" href="http://dribbble.com/grazsebastian" target="_blank">
        <%= image_tag('dribbble.svg')%>
      </a>
    </div>
    <div class='w1 mr4 dim'>
      <a class="dib" href="http://twitter.com/grazsebastian" target="_blank">
        <%= image_tag('twitter.svg')%>
      </a>
    </div>

    <div class='w1 mr4 dim'>
      <a class="dib" href="http://vsco.com/sgraz" target="_blank">
        <%= image_tag('vsco.svg')%>
      </a>
    </div>

  </div>
</div>
