<nav>
  <div class="navigation">
    <div class="row">
      <a style="color:<%=textColor%>" class="logo" href="/">
        <%= partial(:'partials/logo', :locals => { :color => textColor }) %>
      </a>
      <ul class="menu-items">
        <li><a style="color:<%=textColor%>" href="/#home">Work</a></li>
        <li><a style="color:<%=textColor%>" href="/#about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
