<nav>
  <div class="navigation">
    <div class="row">
      <a class="logo" href="/">
        <%= partial(:'partials/logo', :locals => { :color => current_page.data.color }) %>

        <!-- <%= image_tag "logo.svg" %> -->
      </a>
      <ul class="menu-items">
        <li><a style="color:<%=current_page.data.color %>" href="#">Contact</a></li>



        <li><a style="color:<%=current_page.data.color %>" href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
