<div class="svg-hide">
  <svg  preserveAspectRatio="xMidYMid slice" width="100%"  viewBox="0 0 80 20" xmlns="http://www.w3.org/2000/svg">
    <path id="svg_line" d="M3,10 C4,10.6922485 4.43802942,10.3550711 5,10.2857143 C5.56197058,10.2163575 5.9824919,10.008631 7,10 C15.7713609,9.92559664 13.1697292,10.5021105 17,10.644049 C18.1694616,10.6873858 19.0006167,10.3033398 21,10.2857143 C22.9993833,10.2680887 32.5779234,10.5042206 38,10.6324329 C54.5661835,11.0241627 59.4810296,11.1684483 60.8588329,11.1937743 C69.3816734,11.3504369 81.4800428,11.5457429 90,11.1937743 C98.5199572,10.8418058 94.1410737,10.6087872 98,10.2857143"></path>
  </svg>
</div>
