.r\:1x3   { padding-top: 300%; }
.r\:1x2   { padding-top: 200%; }
.r\:2x3   { padding-top: 150%; }
.r\:3x4   { padding-top: 133.333%; }
.r\:1x1   { padding-top: 100%; }
.r\:4x3   { padding-top: 75%; }
.r\:2x1   { padding-top: 50%; }
.r\:3x1   { padding-top: 33.333%; }

.image {
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    height: 100%;
    object-fit: contain;
    width: 100%;
    top:0;
    left: 0;
  }

}
