nav {
  #logo {
    stroke: $text-color;
  }
  .navigation {
    width: 100%;
    pointer-events: none;
    margin: 0 auto;
    top:1rem;
    transition: .4s $bezier top, .9s $bezier opacity, .7s $bezier transform;
    position: fixed;
    z-index: 3;
    @include mq(sm) {
      top:3rem;
    };
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.hidden {
      .menu-items {
        visibility: hidden;
        opacity: 0;
        transform: translateX(2rem);
      }
    }
  }
  .navigation.hidden-nav {
    opacity: 0.3;
    pointer-events: none;
  } 
  ul {
    display: flex;
    align-items: center;
    position: relative;
    li {
      list-style: none;
      margin-left: .5rem;
      margin-bottom: 0;
      a {
        height: 4rem;
        width: 4rem;
        color: inherit;
        font-size:1rem;
        line-height: 4rem;
        text-align: center;
        border-radius: 50%;
        display: block;
        transition: .5s $bezier all;
        box-shadow: 0px 0px 0px 1.5px transparent inset;
        &:hover {
          height: 4rem;
          width: 4rem;
          color: inherit;
          box-shadow: 0px 0px 0px 1.5px currentColor inset;
        }
        &:active {
          box-shadow: 0px 0px 0px 3px currentColor inset;
        }
      }
    }
  }
}

.logo, .menu-items {
  pointer-events: auto;
  transition: .5s $bezier all;
}

.logo {
  &:focus {
    box-shadow: none;
    opacity: 0.4;
  }
}
