@charset "utf-8";

$text-color : #362f3e;
$max-width : 960px;
$link-color : rgba($text-color, 0.6);
$bezier: cubic-bezier(.03, .82, .34, .99);

$tileWidth : 208px;
$tileHeight : 276px;
$margin: 1rem;
$gridpadding: 6rem;

$mq-lg : 64;
$mq-md : 48;
$mq-sm : 30;

@import "_layout/mq";
@import "_layout/elements";
@import "_layout/typography";
@import "_layout/utilities";
@import "_layout/grid";
@import "_layout/animation";

@import "_module/nav";
@import "_module/tiles";
@import "_module/image";
@import "_module/file-share";

@import "_layout/print";

@import "~tachyons/css/tachyons.css";

.case-image {
  transform: translateY(80px);
  &.reveal_visible {
    transform: translateY(0);
  }
}
.case-text {
  transform: translateY(80px);
  &.reveal_visible {
    transform: translateY(0);
  }
  &-right, &-left {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    @include mq(sm) {
      flex-direction: row
    };
  }
}
.abs-rel {
  position: absolute;
}
.transition {
  transition: .3s $bezier all;
}
#home {
  .abs-rel {
    position: relative;
    @include mq(md) {
      position: absolute;
    };
  }
}
.object-fit-contain {
  object-fit: contain;
}

.video-description {
  p {
    margin: 0;
    font-size: 1rem;
  }
}

.case-char-wrapper {
  i {
    display: flex;
  }
}
.char-image {
  width: percentage(10/12);
  position: relative;
  margin-left: auto;
}
.case-char-padding {
  padding: .1em .2em;
}
.case-char {
  display: flex;
  margin-right: 1px;
  margin-bottom: 1px;
  &.reveal {
    transform: translateY(80px);
  }
  &.reveal_visible {
    transform: translateY(0);
  }
}
