body {
  overflow-y:scroll; //force scrollbar to prevent page jumping
  background: hsl(12, 16%, 95%);
}

* {
  box-sizing: border-box;
}

video {
  max-width: 100%;
  background-size:cover;
  background: transparent;
  display: block;
}

img {
  width: 100%;
  display: block;
}

ul {
  li {
    margin-bottom: 1rem;
  }
}

kbd {
  padding: .25rem .5rem;
  border: 2px solid;
  border-radius: 4px;
  margin: 2px;
}

blockquote {
  margin: 4rem;
}
