
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;

  @include mq(sm) {
    flex-direction: row;
  };
}
.flex-align-start {
  align-items: flex-start;
}
.flex-center {
  align-items: center;
}
