@font-face {
  font-family: 'Norse';
  font-weight: normal;
  src: url('/fonts/Norse-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Norse';
  font-weight: bold;
  src: url('/fonts/Norse-Bold.woff') format('woff');
}

@mixin underline {
  text-decoration-skip: ink;
  text-decoration: underline;
}

.underline {
  @include underline;
}

body {
  font-family: 'Norse', sans-serif;
  font-feature-settings: "ss01", "dlig";
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-numeric: oldstyle-nums;
}


h1,
h2,
h3,
h4 {
  a {
    @include underline;
  }
}

p, .auto-size li {
  font-size: calc(100% + 8 * ((100vw - 320px) / (#{$mq-lg * 16} - 320)));
  @include mq(lg) {
    font-size: 1.5rem;
  };
  margin: 2rem 0;
}


p > a {
  @include underline;
}

a {
  text-decoration: none;
  color: $link-color;
  position: relative;
  &:hover {
    color : #000;
  }
}

i, blockquote, em {
  font-style: normal;
}

code {
  overflow: auto;
}

code, pre {
  font-style: normal;
}
