---
title: Food retailer
date: 2016-12-07 20:03 UTC
year: 2015
tags:
- 'e-Commerce'
- 'Responsive Replatforming'
roles:
- 'Visual Designer'
- 'Front-end'
- 'UX Designer'
image: 'case-delhaize.png'
hovertext: 'Involved in creating the UX+UI for a <span>food retailer.</span>'
color: '#044017'
bgcolor: '#09bd44'
lspacer: 0

promoted: true
order: 3
---

%p
  Please contact me for more info about this case study.

%p
  I had the great opportunity to work with one of the largest food retailers in the world.
  To help them shape their online user experience, to be responsive, easier to use and more accessible.

<%= partial(:'partials/image', :locals => { :imageurl => "delhaize/homepage.jpg",  :alt => current_page.title, :ratio => "4x3" }) %>
%p.title-right
  Example homepage
