---
title: The Poetry Hour
date: 2016-12-06 15:27 UTC
tags:
- 'Client pitch'
- 'Web design'
- 'Iconography'
image: 'case-poetry.png'
hovertext: 'I helped design and develop <span>The Poetry Hour.</span>'
color: '#000000'
bgcolor: '#DAF362'
lspacer: 1
rspacer: 0
order: 5
---

Indulging into the world of poetry can be quite daunting especially for an audience with increasingly short web-attention. At This Place we came up with a fresh way to introduce poetry for a new audience - through Memes. In other words, a hand-picked poem verse pasted onto an image. With the idea of it being shared online

<%= partial(:'partials/image', :locals => { :imageurl => "case-images/poetry-home-macbook.png", :alt => current_page.title }) %>
