---
title: delhaize
date: 2016-12-07 20:03 UTC
tags:
- 'e-Commerce'
- 'Responsive Replatforming'
roles:
- 'Visual Designer'
- 'Front-end'
- 'UX Designer'
image: 'case-delhaize.png'
hovertext: 'Involved in creating the UX+UI for <span>Coming soon.</span>'
color: '#044017'
bgcolor: '#09bd44'
lspacer: 0

promoted: true
order: 3
---

%p
  Coming soon
