---
title: Volvo
date: 2016-12-06 15:10 UTC
tags:
roles:
- 'Lead Designer'
- 'Front-end developer'
image: 'case-volvo.png'
hovertext: 'I designed a futuristic web presence for <span>Volvo</span>'
color: '#000'
bgcolor: '#0F52EB'
lspacer: 2
rspacer: 1
order: 1
---

# Volvo

Volvo page are you at
