---
title: delhaize
date: 2016-12-07 20:03 UTC
tags:
- 'e-Commerce'
- 'Responsive Replatforming'
roles:
- 'Visual Designer'
- 'Front-end'
- 'UX Designer'
image: 'case-delhaize.png'
hovertext: 'Involved in creating the UX+UI for a <span>food retailer.</span>'
color: '#044017'
bgcolor: '#09bd44'
lspacer: 0

promoted: true
order: 3
---

%p
  Please contact me for more info about this case study.

<%= partial(:'partials/image', :locals => { :imageurl => "delhaize/homepage.png", :alt => current_page.title }) %>
