---
title: delhaize
date: 2016-12-07 20:03 UTC
tags:
roles:
- 'Lead Designer'
- 'Front-end developer'
image: 'case-delhaize.png'
hovertext: 'I designed a better eCommerce site for <span>Delhaize.</span>'
color: '#EF403F'
bgcolor: '#fff'
lspacer: 0
rspacer: 0
promoted: true
order: 3
---

# Volvo

Volvo page are you at
