<% content_for(:title, 'Not Found') %>

<%= partial "partials/nav", :locals => {:textColor => '#000' } %>

<div class="row center">
  <h1 class="mt-l">Page not found</h1>
  <%= image_tag('404.svg', height: '120', width: '120', class: 'mt-s mb-s')%>
  <p><a href="/">Go home</a></p>
</div>
