---
title: About
---

<%= partial "partials/nav" %>



<div class="row">

  <ul class="tiles mb-l">
    <li class="tile" data-lspacer="1">
      <div class="tile-content" data-color="#6F006A">
        <h2><span>5 years experience</span></h2>
        <span>Excluding freelance</span>
      </div>

      <div class="tile-bg" data-bgcolor="#8BE9C8">
      </div>
    </li>

    <li class="tile" data-lspacer="2">
      <div class="tile-content" data-color="#FF1C1C">
        <h2><span>Designer + Developer</span></h2>
        <span>More or less</span>
      </div>

      <div class="tile-bg" data-bgcolor="#D6B9AA">
      </div>
    </li>
    <li class="tile" data-lspacer="1">
      <div class="tile-content" data-color="#121F4E">
        <h2>
          <span>
            <a href="mailto:graz@live.se">graz@live.se</a>
            <a href="https://twitter.com/grazsebastian">Twitter</a>
            <a href="https://dribbble.com/grazsebastian">Dribbble</a>
          </span>
        </h2>
        <span>Get in touch</span>
      </div>

      <div class="tile-bg" data-bgcolor="#C0E46E">
      </div>
    </li>
  </ul>


  <div class="g2">
    <div class="mt-l">
      <div class="intro">
        <h1>Portfolio of Sebastian Graz.</h1>
      </div>
      <p>Freelance designer and developer with 5 years of experience. My main jam is rapid prototyping, iterative design methodology and branding. I have experience in designing extensive e-commerce projects as well as aesthetic campaign websites. I also dabble in animated videos, 3D imagery and audio production.</p>
      <p>I can whip up a sick web-ready prototype before you can say 'responsive re-platforming' </p>
    </div>

    <div class="mt-l">
      <div class="intro mb-xs">
        <h1>What I'm all about</h1>
      </div>
      <ul>
        <li><p>Concept & Strategy</p></li>
        <li><p>User Testing</p></li>
        <li><p>Agile environment</p></li>
        <li><p>Front-end development</p></li>
        <li><p>Design production/direction</p></li>
        <li><p>Wireframing & Prototyping</p></li>
      </ul>
    </div>
  </div>
  <div class="g2 mb-l">
    <div></div>
    <div></div>
  </div>


</div><!-- .welcome -->
