---
title: About
---

<%= partial "partials/nav" %>


<div class="row">


<div class="mt-xl">
  <h2>About Sebastian Graz</h2>
  <h2 class="secondary">Interaction designer who can implement his own designs</h2>
</div>
<p>Freelance designer and developer with 5 years of experience. My main jam is rapid prototyping, iterative design methodology and branding. I have experience in designing extensive e-commerce projects as well as aesthetic campaign websites. I also dabble in animated videos, 3D imagery and audio production.</p>


</div><!-- .welcome -->
