---
title: About
---

<%= partial "partials/nav" %>


<div class="row">
  <div class="g2 mt-l">
    <div>
      <div class="intro">
        <h2>Portfolio of Sebastian Graz.</h2>
      </div>
      <p>Freelance designer and developer with 5 years of experience. My main jam is rapid prototyping, iterative design methodology and branding. I have experience in designing extensive e-commerce projects as well as aesthetic campaign websites. I also dabble in animated videos, 3D imagery and audio production.</p>
      <p>I can whip up a sick web-ready prototype before you can say 'responsive re-platforming' </p>
    </div>
    <div>
      <div class="intro mb-xs">
        <h2>What I'm all about</h2>
      </div>
        <ul class="ul-xl">
          <li><i>Concept & Strategy</i></li>
          <li><i>User Testing</i></li>
          <li><i>Agile environment</i></li>
          <li><i>Front-end development</i></li>
          <li><i>Design production/direction</i></li>
          <li><i>Wireframing & Prototyping</i></li>
        </ul>
    </div>
  </div>

  <ul class="tiles mt-l mb-l">
    <li class="tile">
        <div class="tile-content" data-color="#6F006A">
          <h2><span>5 Years experience</span></h2>
          <span>And counting</p>
        </div>

        <div class="tile-bg" data-bgcolor="#8BE9C8">
        </div>
    </li>

    <li class="tile">
        <div class="tile-content" data-color="#FF1C1C">
          <h2><span>Designer + Developer</span></h2>
          <span>+ More</p>
        </div>

        <div class="tile-bg" data-bgcolor="#D6B9AA">
        </div>
    </li>
    <li class="tile">
        <div class="tile-content" data-color="#121F4E">
          <h2><span>Longboards to work</span></h2>
          <span>I still need a helmet</p>
        </div>

        <div class="tile-bg" data-bgcolor="#C0E46E">
        </div>
    </li>
  </ul>
</div><!-- .welcome -->
