---
title: About
---

<%= partial "partials/nav" %>



<div class="row">


  <div class="g2 mt-l">
    <div class="mt-s">
      <h1>Designer and developer with 5 years of experience.</h1>
      <p>My main jam is rapid prototyping, iterative design methodology and branding. I have experience in designing extensive eCommerce projects as well as aesthetic campaign websites. I also dabble in animated videos, 3D imagery and audio production.</p>
    </div>

    <div>
    </div>
  </div>
  <div class="g2 mt-l">
    <div></div>
    <div>
      <p>
        <ul>
          <li><p>Concept & Strategy</p></li>
          <li><p>User Testing</p></li>
          <li><p>Agile environment</p></li>
          <li><p>Front-end development</p></li>
          <li><p>Design production/direction</p></li>
          <li><p>Wireframing & Prototyping</p></li>
        </ul>
      </p>
    </div>
  </div>
  <div class="g2 mt-l">
    <div>
      <p>
        <ul>
          <li><p>Concept & Strategy</p></li>
          <li><p>User Testing</p></li>
          <li><p>Agile environment</p></li>
          <li><p>Front-end development</p></li>
          <li><p>Design production/direction</p></li>
          <li><p>Wireframing & Prototyping</p></li>
        </ul>
      </p>
    </div>
    <div>
    </div>
  </div>

</div><!-- .welcome -->
