---
title: Blog
---

<%= partial "partials/nav" %>

<div class="row">
  <div class="mt-l mb-xs">
    <div class="flex-between">
        <h1>Articles <sup><%= blog('blog').articles.count%></sup></h1>
    </div>
  </div>
  <ul class="tiles">
    <% blog('blog').articles.each do | blog | %>
    <% time = blog.date %>
    <%= partial "partials/tile", locals: { project: blog, secondary: blog.date.strftime("%b #{time.day.ordinalize}") } %>
    <% end %>
  </ul>
</div>
