<% content_for(:title, 'All articles') %>
<div class="container" data-namespace="homepage">
  <%= partial "partials/nav", :locals => {:textColor => '#000' } %>

  <div class="row">
    <div class="mt5 mt6-ns">
      <p class="dib w-100">All articles</p>
    </div>
    <ul class="tiles cf ma0 pa0">
      <% data.site.blog.each do |id, this | %>
      <%= partial "partials/tile", :locals => { :this => this, :dir => '/blog/', :secondary => this.postedDate.strftime("%a #{this.postedDate.day.ordinalize}")} %>
      <% end %>
    </ul>


  </div>
</div>
