---
title: Sebastian Graz
---

<%= partial "partials/nav" %>


<div class="row portfolio">

  <div class="mt-l mb-xs abs intro">
    <h2>Portfolio of Sebastian Graz.</h1>
    <h2 class="secondary">Interface designer.</h1>
  </div>

  <ul class="tiles">
    <% blog('case').articles.sort_by{ |index| index.data.order }.each do |article| %>
      <%= partial "partials/tile", locals: { project: article } %>
    <% end %>
  </ul>

  <div class="mt-l mb-xs intro">
    <h2>Sometimes I write about design</h1>
    <h2 class="secondary">All opinions are my own</h1>
  </div>



</div>
