---
title: Sebastian Graz
---

<%= partial "partials/nav" %>

<div class="row portfolio">

  <div class="mt-l mb-xs abs">
    <h1>Sebastian Graz</h1>
    <p class="hide-md"> Freelance interaction designer and a front-end developer based in London </p>
  </div>

  <ul class="tiles">
    <% blog('case').articles.sort_by{ |index| index.data.order }.each do |article| %>
      <%= partial "partials/tile", locals: { project: article } %>
    <% end %>
  </ul>



  <div class="mt-l mb-xs">
    <div class="flex-between">
        <h1>Articles <sup><%= blog('blog').articles.count%></sup></h1>
        <a href="/blog">Read all articles</a>
    </div>
  </div>

  <ul class="tiles">
    <% blog('blog').articles.each do | blog | %>
    <%= partial "partials/tile", locals: { project: blog } %>
    <% end %>
  </ul>

</div>
